In [3]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Chishibe Kabwe\Documents\Data Cleaning Samples\annual-enterprise-survey-2021-financial-year-provisional-size-bands-csv.csv")
df

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
...,...,...,...,...,...,...,...
17023,2021,all,All Industries,j_Grand_Total,Total income,757504,DOLLARS(millions)
17024,2021,all,All Industries,j_Grand_Total,Total expenditure,654404,DOLLARS(millions)
17025,2021,all,All Industries,j_Grand_Total,Operating profit before tax,85116,DOLLARS(millions)
17026,2021,all,All Industries,j_Grand_Total,Total assets,2512677,DOLLARS(millions)
17027,2021,all,All Industries,j_Grand_Total,Fixed tangible assets,591351,DOLLARS(millions)

In [6]:
df[df['year'] <= 10]

Empty DataFrame
Columns: [year, industry_code_ANZSIC, industry_name_ANZSIC, rme_size_grp, variable, value, unit]
Index: []

In [8]:
specific_values = ['279','8187']
df[df['value'].isin(specific_values)]

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
1227,2011,P,Education and Training,b_1-5,"Sales, government funding, grants and subsidies",279,DOLLARS(millions)
6168,2014,S,Other Services,h_200+,"Sales, government funding, grants and subsidies",279,DOLLARS(millions)
10878,2018,A,"Agriculture, Forestry and Fishing",e_20-49,Operating profit before tax,279,DOLLARS(millions)
13038,2019,I,"Transport, Postal and Warehousing",a_0,Operating profit before tax,279,DOLLARS(millions)
13212,2019,K,Financial and Insurance Services,c_6-9,Activity unit,279,COUNT